$color-black-light: #111111;
$color-gray-darker: #333333;
$color-gray-light: #dddddd;
$color-gray-medium: #cccccc;
$color-white: #ffffff;
$color-yellow-dark: #f0b800;
$color-yellow-light: #ffd814;

body {
  align-items: center;
  background-color: $color-white;
  color: $color-black-light;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 1rem 1.5rem;
}

header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  min-height: 60px;
}

main > section {
  background-color: $color-white;
  border-radius: 4px;
  border: 1px solid $color-gray-light;
  max-width: 320px;
  padding: 1rem;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  h2 {
    font-weight: 500;
    margin: 0 0 1rem 0;
  }

  form {
    input {
      border-radius: 4px;
      border: 1px solid $color-gray-medium;
      box-sizing: border-box;
      font-size: 14px;
      margin-bottom: 20px;
      padding: 12px;
      width: 100%;

      &:hover {
        cursor: text;
      }
    }

    button {
      background: $color-yellow-light;
      border-radius: 0.5rem;
      border: none;
      color: $color-gray-darker;
      cursor: pointer;
      font-size: 1rem;
      padding: 0.75rem 1rem;
      width: 100%;

      &:hover {
        background: $color-yellow-dark;
      }
    }
  }
}

footer {
  background: $color-white;
  bottom: 0;
  color: $color-gray-medium;
  font-size: 0.75rem;
  padding: 0.5rem 0;
  position: absolute;
  text-align: center;
  width: 100%;

  p {
    margin: 0;
  }
}
